.home-view {
    display: flex;
    height: calc(100vh - 80px);
    width: calc(100vw - 100px);

    justify-content: center;
    align-items: center;
}

.view {
    width: 1000px;
    /* background-color: rgb(240, 22, 22); */
}

.view {
    width: 1000px;
}

.tab-big-title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */


    color: #131C33;
}

.tab-container {
    margin-top: 50px;
}

.tab-title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16 px;
    line-height: 19px;
    /* identical to box height */

    color: #999999;
}

.active-tab {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


    color: #000000;
}

.tab-title:last-child {
    margin-left: 120px;
}

.tab-container {
    border: 0.5px solid #666464;
    padding: 30px 0 30px 0;
    border-top: none;
    border-right: none;
    border-left: none;
}

.tab-data-title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-left: 97px;
    color: #999999;
}

.tab-data-title:first-child {
    margin-left: 30px;
}

.tab-data-titles-container {
    margin-top: 40px;
}

.list-data-container {
    background-color: #FFFFFF;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
}

.tab-data span {
    margin-left: 111px;
}

.tab-data span:first-child {
    margin-left: 20px;
}

.thum-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #131C33;

}