.details-view-container {

    width: calc(100vw - 100px);
    display: flex;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    position: relative;
}

.details-view {
    width: 80%;
}

.user {
    border-radius: 50%;
}

.details-card {
    display: flex;
    justify-content: center;
}

.user-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.details-container {}

.data-title {

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    color: #999999;
}

.data-vale {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;

    color: #131C33;

}

.center {
    display: flex;
    justify-content: center;
}

.list-01,
.list-02 {
    margin-top: 20px;
}

.user-name,
.user-Age,
.user-gender,
.user-location,
.user-contact,
.user-pid,
.user-report {
    margin-left: 100px;
}

.user-Age {}

.user-gender {}

.user-location {}

.user-contact {}

.user-pid {}

.user-report-title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;

    color: #131C33;
}

.info-icon-report {
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.user-status {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    color: #000000;
    margin-top: 60px;
    margin-left: 40%;
}

.action-buttons {
    display: flex;
    margin-top: 90px;
    margin-left: 25%;
}

.messageButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    width: 155px;
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
}

.button-rol-message {
    margin-left: 25px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #131C33;
}

.button-rol-call {
    margin-left: 25px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #ffffff;
}

.messageButton:hover {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}

.callButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #149636;
    width: 155px;
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
}

.callButton:hover {
    background-color: #0a5f21;
    cursor: pointer;
}

.callButton:hove .button-rol {
    color: aqua;
}